* {
  font-family: 'Georgia', sans-serif;
}

body {
background-color: black;
font-family: 'Amaranth', sans-serif;
color: #FF0000; 
text-decoration: none;
justify-content: space-between;
text-align: center;
background-position: center;
animation: fadeIn ease-out 0.8s;
}

head {
background-color: black;
font-family: 'Garamond', sans-serif;
text-decoration: none;
color: #FFFFFF;
text-align: center;
font-size: 5em;
animation: fadeIn ease-out 0.8s;
}

 .game {
    color: #FFFFFF;
    font-family: 'Garamond', sans-serif;
    text-decoration: none;
    border: 5px solid #0000FF;
    border-radius: 2px;
    text-decoration-line: none;
    grid-template-columns: 200px 1fr max-content;
   }

  .game:hover {
    color: #FFFFFF;
    background-color: black;
    font-family: 'Georgia', sans-serif;
    text-decoration: none;
    box-shadow: 3px red;
  }

  .game a {
    text-decoration: none;
  }

.game img {
  width: 100%;
  border-radius: 20px;
  aspect-ratio: 1 / 1;
}

.game, .suggest {
  width: 15%;
  border-radius: 20px;
  display: inline-block;
  background-color: var(--uibg);
  margin: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 5px var(--uibg);
}
  
  .sites {
  justify-content: center;
  font-size: 2em;
  background-color: white;
  color: black;
  margin-bottom: 15px;
  margin-top: 15px;
  height: 36px;
  width: 250px;
  border-radius: 4px;
  border: 3px;
  border-color: red;
}

.sites:hover {
  color: red;
  font-size: 2em;
  text-decoration: none;
}
  
 #searchResultTemplate {
      
  border-radius: 25px;
  background-color: #55067ca6;
  padding: 15px;
  width: 200px;
  height: 210px;
  display: grid;
  transition: 0.30s;
  margin: 10px;
  display: inline-block;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  outline-style: solid;
  outline-color:#490670;
  }

  .more {
  
    border-radius: 25px;
    background-color: #55067c;
    padding: 15px;
    width: 100px;
    height: 20px;
    display: grid;
    transition: 0.75s;
    margin: 10px;
    outline-style: solid;

    
    
    }

    input {
      border-radius: 25px;
      background-color: #55067c55;
      padding: 15px;
      width: 500px;
      height: 20px;
      display: grid;
      transition: 0.75s;
      color: white;
      backdrop-filter: blur(5.1px);
      -webkit-backdrop-filter: blur(5.1px);
      border: 1px solid rgba(255, 255, 255, 0.3);


    }



      
      
      
      
      .search-button {
  
        border-radius: 27px;
        background-color: #55067c55;
        padding: 15px;
        width: 100px;
        height: 55px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        color: white;
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        margin-left: 10px;
        transition: .3s;
        
        
        
        
        } 
        
        .search-button:hover {
          background-color: #6c1f998a;
        }




    .search-container {
          display: flex;
          align-items: center;


    }


    .search{
    border-radius: 25px;
    background-color: #55067c;
    padding: 1px;
    width: 500px;
    height: 40px;
    display: grid;
    transition: 0.75s;
    margin: 10px;
    
    
    }


.random {
    background-color: black;
    border: 2px solid blue;
    color: blue;
    text-align: center;
    font-family: 'georgia', sans-serif;
}

.random:hover {
  background-color: white;
  border: 2px solid blue;
  color: black;
  text-align: center;
  font-family: 'georgia', sans-serif;
  cursor: pointer;
}

h1 {
color: #FFFFFF;
background-color: black;
}

p {
  color: #FFFFFF;
  font-size: 2em;
  margin-bottom: 90px;
}


nav a {
background-color: black;
margin: 20px;
font-family: 'Georgia', sans-serif;
text-align: center;
text-decoration: none;
}

nav {
background-color: black;
padding-top: 15px;
padding-bottom: 15px;
box-shadow: #000000;
}

.nav__links button {
    display: inline-block;
    padding: 15px 15px;
    border: 4px solid #0000FF;
    background-color: black;
    font-size: 20px;
    color: #FF0000;
}

.nav__links button:hover {
    color: #FF0000;
}
