* {
  font-family: 'Georgia', sans-serif;
}

body {
background-color: black;
font-family: 'Amaranth', sans-serif;
color: #FF0000;
text-decoration: none;
justify-content: space-between;
text-align: center;
background-position: center;
animation: fadeIn ease-out 0.8s;
}

head {
background-color: black;
font-family: 'Garamond', sans-serif;
text-decoration: none;
color: #FF0000;
text-align: center;
font-size: 5em;
animation: fadeIn ease-out 0.8s;
}

button {
    background-color: black;
    color: #FF0000;
    border: 2.5px solid #df2c14;
    border-radius: 13px;
	padding: 7px 15px;
    margin-bottom: 6px;
    transition-duration: 0.45s;
    animation: fadeIn ease-out 0.8s;
}

button:hover {
    background-color: black;
    border: 3.5px solid #df2c14;
    color: #FF0000;
}

p {
  color: #FF0000;
  font-size: 4em;
}

.buttons {font-size: 10px;}

nav a {
background-color: black;
margin: 20px;
font-family: 'Georgia', sans-serif;
text-align: center;
text-decoration: none;
}

nav {
background-color: black;
padding-top: 15px;
padding-bottom: 15px;
box-shadow: #000000;
}
