* {
  font-family: 'Georgia', sans-serif;
}

body {
background-color: black;
font-family: 'Amaranth', sans-serif;
color: #FF0000; 
text-decoration: none;
justify-content: space-between;
text-align: center;
background-position: center;
animation: fadeIn ease-out 0.8s;
}

head {
background-color: black;
font-family: 'Garamond', sans-serif;
text-decoration: none;
color: #FFFFFF;
text-align: center;
font-size: 5em;
animation: fadeIn ease-out 0.8s;
}

.hacks a {
text-decoration: none;
text-size: 2em;
text-weight: bold;
font-family: 'Garamond',sans-serif;
justify-content: center;
object-align: center;
margin-top: 15px;
margin-bottom: 15px;
width: 400px;
color: black;
background-color: white;
border-radius: 4px;
}

.hacks:hover {
background-color: black;
color: red;
box-shadow: 3px red;
font-size: 2em;
border-color: blue;
border-size: 4px;
}

h1 {
font-family: 'Garamond',sans-serif;
font-size: 2em;
font-weight: bold;
text-align: center;
background-color: black;
color: red;
margin-top: 10px;
margin-bottom: 10px;
}

h2 {
font-family: 'Garamond',sans-serif;
font-size: 2em;
font-weight: bold;
text-align: center;
background-color: black;
color: red;
margin-top: 10px;
margin-bottom: 10px;
}

h3 {
font-family: 'Garamond',sans-serif;
font-size: 2em;
font-weight: bold;
text-align: center;
background-color: black;
color: red;
margin-top: 10px;
margin-bottom: 10px;
}

p {
color: white;
font-family: 'Garamond',sans-serif;
}

.search-bar {
background-color: black;
color: black;
margin-top: 20px;
margin-bottom: 20px;
margin-left: 15px;
margin-right: 15px;
font-family: 'georgia',sans-serif;
font-size: 15px;
justify-content: center;
object-align: center;
width: 350px;
height: 50px;
}

.search-bar:hover {
background-color: white;
}

.search-bar:active {
color: red;
background-color: red;
padding: 16px 14px;
font-size: 15px;
width: 250px;
}

nav a {
background-color: black;
margin: 20px;
font-family: 'Georgia', sans-serif;
text-align: center;
text-decoration: none;
}

nav {
background-color: black;
padding-top: 15px;
padding-bottom: 15px;
box-shadow: #000000;
}

.nav__links button {
    display: inline-block;
    padding: 15px 15px;
    border: 4px solid #0000FF;
    background-color: black;
    font-size: 20px;
    color: #FF0000;
}

.nav__links button:hover {
    color:  #FF0000;
}
