body {
background-color: black;
font-family: 'Amaranth', sans-serif;
color: #FFFFFF;
text-decoration: none;
justify-content: space-between;
text-align: center;
background-position: center;
animation: fadeIn ease-out 0.8s;
}

head {
background-color: black;
font-family: 'Garamond', sans-serif;
text-decoration: none;
color: #FFFFFF;
text-align: center;
font-size: 5em;
animation: fadeIn ease-out 0.8s;
margin-bottom: 20px;
}

.headings {
background-color: black;
font-family: 'Garamond', sans-serif;
color: #FFFFFF;
text-decoration: underline;
text-align: center;
font-size: 2em;
margin-block-start: 0.5em;
margin-block-end: 0.5em;
margin-inline-start: 0px;
margin-inline-end: 0px;
filter: brightness(80%);
margin-bottom: 30px;
}

 .headings-2 {
background-color: black;
font-family: 'Garamond', sans-serif;
text-decoration: none;
color:#FFFFFF;
text-align: center;
filter: brightness(80%);
font-size: 2em;
margin-bottom: 30px;
}

header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 10%;
background: linear-gradient(-45deg,#000000);
background-size: 400% 400%;
animation: bg-gradient 10s ease infinite;
animation: fadeIn ease-out 0.15s;
}

.button {
 width: 130px;
 height: 115px;
 background-color: #1a1a1a;
 color: white;
 font-size: 30px;
 border: 2px solid blue;
 text-align: center;
 font-family: 'georgia', sans-serif;
 justify-content: center;
 display: center grid;
 grid-template-columns: repeat(4, 1fr);
 gap: 20px;
}

.button:hover {
 width: 140px;
 height: 115px;
 background-color: #1a1a1a;
 color: white;
 border: 3px solid blue;
 text-align: center;
 font-family: 'georgia', sans-serif;
 justify-content: center;
 }

.icon {
cursor: pointer;
width: 250px;
height: 250px;
object-fit: center;
justify-content: center;
object-align: center;
border-width: 1px;
border-style: solid;
border-color: blue;
border-radius: 3px;
margin-bottom: 30px;
}

.search-bar {
background-color: black;
color: white;
font-family: 'georgia',sans-serif;
font-size: 15px;
justify-content: center;
object-align: center;
width: 400px;
height: 40px;
}

.search-bar:hover {
background-color: black;
color: white;
}

.search-bar:active {
color: white;
background-color: black;
padding: 16px 14px;
font-size: 15px;
width: 420px;
}

nav a {
margin: 20px;
padding-right: 135px;
jusitfy-content: center;
font-family: 'Georgia', sans-serif;
text-align: center;
text-decoration: none;
}

nav {
padding-top: 15px;
padding-bottom: 15px;
background-color: #1a1a1a;
box-shadow: #1a1a1a;
}
