body {
background-color: black;
font-family: 'Amaranth', sans-serif;
color: #FF0000;
text-decoration: none;
justify-content: space-between;
text-align: center;
background-position: center;
animation: fadeIn ease-out 0.8s;
}

head {
background-color: black;
font-family: 'Inter', sans-serif;
text-decoration: none;
color: #FF0000;
text-align: center;
font-size: 3em;
animation: fadeIn ease-out 0.8s;
}

h1 {
background-color: black;
font-family: 'Inter', sans-serif;
color: #FF0000;
text-decoration: none;
text-align: center;
font-size: 2em;
margin-block-start: 0.5em;
margin-block-end: 0.5em;
margin-inline-start: 0px;
margin-inline-end: 0px;
filter: brightness(80%);
}

h2 {
background-color: black;
font-family: 'Inter', sans-serif;
text-decoration: none;
color: #FF0000;
text-align: center;
filter: brightness(80%);
font-size: 2em
}

nav a {
background-color: black;
margin: 20px;
font-family: 'Amaranth', sans-serif;
text-align: center;
text-decoration: none;
}

nav {
background-color: black;
  padding-top: 15px;
padding-bottom: 15px;
box-shadow: #FF0000;
}
